@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@400;500;700&display=swap');

/* Font sources for offline */
@font-face {
    font-family: "Poppins"; /*available weight 400,600,700*/
    src: url(/Assets/font/Poppins/Poppins-Regular.ttf),url(/Assets/font/Poppins/Poppins-SemiBold.ttf),url(/Assets/font/Poppins/Poppins-Bold.ttf),url(/Assets/font/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: "Nunito"; /*available weight 400 and italic*/
    src: url(/Assets/font/Nunito_Sans/NunitoSans.ttf),url(/Assets/font/Nunito_Sans/NunitoSans-Italic.ttf);
}
@font-face {
    font-family: "Ubuntu"; /*available weight 400,500,700*/
    src: url(/Assets/font/Ubuntu/Ubuntu-Regular.ttf),url(/Assets/font/Ubuntu/Ubuntu-Medium.ttf),url(/Assets/font/Ubuntu/Ubuntu-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(240, 242, 245);
    font-family: Ubuntu;
    font-size: .8rem;

}
/* ---------Global classes code--------- */

.element_margin{
    margin: .5rem 0;
}
.privacy_links{
    text-decoration: none;
    color: rgb(0, 164, 0);
}
/* ---------Variable code--------- */

.header_text{
    font-size: 2rem;
    font-family: Poppins;
    color: rgb(8, 102, 255);
    text-align: center;
    padding: 1rem 0;
    font-weight: 800;
}
.primary_text{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
    font-family: Ubuntu;
}
.secondary_text{
    font-size: 1rem;
    font-family: Nunito;
    text-align: center;
    padding-bottom: .5rem;
    color: #a9a9a9;

}
.privecy_text{
    color: #414141;
    font-family: Nunito;
    font-size: .8rem;
    line-height: 1.3rem;
}
/* ---------Form design code--------- */

.create_id{
    width: 28rem;
    margin: 0 auto;
}
.create_id input, .create_id select,.create_id .gender_wrap{
    border: 1px solid rgb(0, 0, 0,.4);
    border-radius: 5px;
    padding: .6rem;
}
.create_id input:focus{
    outline-color: rgb(8, 102, 255,.5);
}
.create_id select:focus{
    outline-color: transparent;
}
.form_box{
    background-color: rgb(255, 255, 255);
    padding: 0 1rem;
    box-shadow: 0px 4px 15px 1px rgba(0,0,0,0.2);
    border-radius: 7px;
}

/* ---------Input 1 design code--------- */

.input_1{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
@media only screen and (min-width:425px){
    .input_1 input{
        width: 100%;
    }
}
/* ---------Age design code--------- */
.age_division{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
@media only screen and (min-width:425px){
    .age_division * {
        width: 100%;
    }
}
/* ---------Age design code--------- */
.age .date{
    display: flex;
}
.age .date input{
    width: 100%;
}
.age .date_label{
    margin-bottom: .5rem;
}

/* ---------division design code--------- */

.division .label{
    margin-bottom: .5rem;
}
.division_otions{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.division_otions select{
    width: 100%;
}
/* ---------Gender design code--------- */

.gender .label{
    padding-bottom: .5rem;
}
.gender_elements{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.gender_wrap{
    width: 100%;
    border: 1px solid rgb(141, 141, 141);
    display: flex;
    justify-content: space-between;
}
/* ---------Input 2 design code--------- */

.input_2{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.input_2 input{
    /* width: 100%; */
    margin: .5rem 0;
}
/* ---------terms design code--------- */

.terms{
    display: flex;
    gap: 10px;
}
/* ---------Sign Up button design code--------- */

.sign_up_button{
    display: flex;
    justify-content: center;
}
.sign_up_button a button{
    padding: .3rem 3rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(0, 164, 0);
    color: #fff;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
}
.sign_up_button a button:hover{
    border: 1px solid rgb(0, 164, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 164, 0);
}
.have_account a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: rgb(0, 164, 0);
    padding-bottom: 1rem;
}




/* ---------Basic responcive design code--------- */
@media only screen and (max-width:768px){
    .create_id{
        width: 25rem;
    }
    .header_text{
        font-size: 1.8rem;
    }
}
@media only screen and (max-width:425px){
    .create_id{
        width: 100%;
    }
    .form_box{
        box-shadow: none;
        border-radius: 0;
    }
    .header_text{
        font-size: 1.5rem;
    }
    .input_1{
        flex-direction: column;
    }
    .age_division{
        flex-direction: column;
    }
}